div,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

.expected {
  font-weight: bold;
}

.invalid-result {
  color: red;
}

.valid-result {
  color: green;
}

.item {
  padding: 4px;
  border-bottom: 1px solid black;
}
